<div class="app-container">
  <header>
    <h1 class="title">Proyecto de Análisis bibliométrico</h1>
    <nav class="navbar navbar-expand navbar-light">
      <div class="container">
        <div class="navbar-nav">
          <a routerLink='/req1' class="nav-item nav-link">Scrape</a>
          <a routerLink='/req2' class="nav-item nav-link">Stats</a>
          <a routerLink='/req3' class="nav-item nav-link">Co-ocurrence</a>
          <a routerLink='/req4' class="nav-item nav-link">Algorithms of Similitude</a>
        </div>
      </div>
    </nav>
  </header>
  
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>